@media all and (max-width:1000px) {

    /*bagian Guca*/
    .kategori {
        flex-wrap: wrap;
        width: 50%;
    }

    .heading-kategori h3 {
        text-align: center;
        margin-right: 32px;
    }

    /*bagian Guca*/

    /* Bagian Syafa' */
    .child-barang {
        width: 50%;
        margin-bottom: 50px;
    }

    .heading-barang {
        margin-left: 0;
        text-align: center;
    }

    /* Bagian Syafa' */
}

@media all and (max-width:670px) {

    /* Bagian Gede*/
    .text {
        font-size: 11px;
    }

    .mySlides {
        margin-top: 40px;
    }

    /* Bagian Gede*/

    /* Bagian Wahyu*/
    ul li.logo img {
        width: 50px;
    }

    ul li.trolley img {
        width: 15px;
    }

    ul div.item li a {
        display: none;
    }

    ul li.search-icon input {
        width: 50px;
    }

    ul li.search-icon button {
        font-size: 8px;
        cursor: pointer;
    }

    ul li.search-icon {
        width: 20px;
        height: 10px;
    }

    ul li.trolley {
        padding-left: 80px;
    }

    ul div.item li span {
        display: flex;
        font-size: 10px;
    }

    /* Bagian Wahyu*/


    /* Bagian Guca */
    .kategori {
        flex-wrap: wrap;
        width: 100%;
    }

    .heading-kategori h3 {
        text-align: center;
        margin-right: 32px;
    }

    /* Bagian Guca */
    /* Bagian Syafa' */
    .child-barang {
        width: 100%;
        margin-bottom: 50px;
    }

    .heading-barang {
        margin-left: 0;
        text-align: center;
    }

    .sony,
    .iwatch {
        display: none;
    }

    span {
        display: block;
    }

    /* Bagian Syafa' */

    /* Bagian Excel */
    .contact li {
        float: none;
        text-align: center;
        padding-bottom: 0;
    }

    .btn-wrapper a {
        width: 10px;
    }

    /* Bagian Excel */
}
