body {
  background-color:white;
  font-family: 'Sarabun', sans-serif;
  color: #727272;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/*bagian Guca*/
.kategori-wrapper {
  height: 500px;
  padding-bottom: 80px;
  text-align: center;
}

.kategori {
  float: left;
  width: 20%;
  transition: transform .2s;
  padding-left: 15px;
  padding-right: 15px;
}

.heading-kategori {
  padding-bottom: 5px;
}

.heading-kategori h3 {
  font-size: 30px;
  font-weight: 600;
  text-align: left;
  margin-left: 60px;
}

.kategori:hover {
  transform: scale(1.1);
}

.bg-kategori {
  position: absolute;
  width: 180px;
}

.kategori-icon p {
  position: relative;
  font-size: 25px;
  bottom: 30px;
  left: 15px;
}

.icons {
  position: relative;
  width: 150px;
  top: 10px;
  left: 17px;
}
/*bagian Guca*/

