* {
    box-sizing: border-box;
    margin: 0 auto;
}

body {
  background-color:white;
  font-family: 'Sarabun', sans-serif;
  color: #727272;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/*bagian Guca*/
.kategori-wrapper {
  padding-bottom: 30px;
  text-align: center;
}

.kategori {
  margin-bottom:50px;
  float: left;
  width: 20%;
  transition: transform .2s;
  padding-left: 15px;
  padding-right: 15px;
}

.heading-kategori {
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 50px;
  font-size: 30px;
  font-weight: 600;
  text-align: left;
}


.kategori:hover {
  transform: scale(1.1);
}

.bg-kategori {
  position: absolute;
  width: 180px;
}

.kategori-icon p {
  position: relative;
  font-size: 25px;
  bottom: 20px;
  left: 15px;
}

.icons {
  position: relative;
  width: 150px;
  top: 10px;
  left: 17px;
}

.clear {
  clear:left;
}
/*bagian Guca*/

/* Bagian Syafa' */
.heading-barang {
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 50px;
    font-size: 30px;
    font-weight: 600;
    text-align: left;

}

.parent-barang {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.child-barang {
    flex: auto;
    width: 25%;
}

.content-barang {
    width: 220px;
    height: 308px;
    padding: 20px;
    cursor: pointer;
    transition: all 0.2s;
    background-color: white;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.content-barang img {
    width: 100%;
    text-align: center;
    transition: all 0.2s;
}

.content-barang:hover {

    transform: scale(1.1);
    transition: all 0.2s;
}

.content-barang img:hover {

    transform: scale(1.4);
    transition: all 0.3s;
}

.content-barang:active {
    transform: scale(1);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.25);
    cursor: default;
}

.txt-content-barang {
    margin: 20px 0;
    font-size: 15px;
}

.txt-content-barang p {
    margin-top: 5px;
}

span {
    display: none;
    transition: all 0.1s;
}

span a {
    text-decoration: none;
    font-size: 20px;
    color: #727272;
}

span:hover {
    transform: scale(1.2);
    transition: all 0.2s;
}

span:active {
    transform: scale(1);
    transition: all 0.1s;
}
/* Bagian Syafa' */
